# Configuracion de herramienta adicional, usando 1 extrusor y 1 hotend
#Configuracion referente a Robin Nano V31.2, con 2 extrusores y 2 hotends, usando pines duplicados para el segundo extrusor

#Activamos el uso de pines duplicados, sin generar errores de configuracion
[duplicate_pin_override]
pins:PD6, PD3, PB3

[extruder_stepper t0]
extruder:
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 33.500

[output_pin extruder_dir]
pin: PD3  # Cambia por el pin físico de dirección de tu extrusor revisar si originalmente es !PD3 o PD3

[extruder_stepper t1]
extruder:
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 33.500

[servo fil_select]
pin: PA8
initial_angle: 90

##################################################
#  Cambio de extruder_stepper a manual_stepper   #
##################################################

#Activamos el uso de pines duplicados, sin generar errores de configuracion
[duplicate_pin_override]
pins:PD6, PD3, PB3

# Manual stepper backward
[manual_stepper extruder0]
extruder:
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 33.500

# Revisar si es necesario establecer esta sección
[output_pin extruder_dir]
pin: PD3 #El pin di

# Manual stepper forward
[manual_stepper extruder1]
extruder:
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 33.500

[servo fil_select]
pin: PA8
initial_angle: 90 # Punto de descanso