# Configuracion de herramienta adicional, usando 1 extrusor y 1 hotend

#Activamos el uso de pines duplicados, sin generar errores de configuracion
[duplicate_pin_override]
pins:gpio14, gpio13, gpio15

[output_pin extruder_dir]
pin: gpio13  # Cambia por el pin físico de dirección de tu extrusor

[extruder_stepper extruder1]
extruder:
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 33.500

[servo fil_select]
pin: gpio29

