
[include fluidd.cfg]
[include mcu_extra.cfg]

[force_move]
enable_force_move: True

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_3A004C001850314335393520-if00

[printer]
kinematics: cartesian
max_velocity: 100
max_accel: 500
max_z_velocity: 5
max_z_accel: 50

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^!PA15
position_min: -4
position_endstop: 233
position_max: 233.125
homing_speed: 80

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^!PD2
position_min: -5
position_endstop: 212.00
position_max: 212.125
homing_speed: 80

[stepper_z]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 1.25
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 200
homing_speed: 4
homing_retract_dist: 0
homing_retract_speed: 3
second_homing_speed: 2

[probe]
pin: ^!PB13
x_offset: -40
y_offset: 6
z_offset: .5
speed: 5
samples: 3
samples_tolerance: 1
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 150,89
speed: 100.0
z_hop: 10.0
z_hop_speed: 10.0

[extruder]
step_pin: PD15
dir_pin: PA1
enable_pin: !PA3
heater_pin: PE5
sensor_pin: PA2
microsteps: 16
rotation_distance: 31.901           # Calibrate - see https://www.klipper3d.org/Rotation_Distance.html
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: 0.0               # Calibrate - see https://www.klipper3d.org/Pressure_Advance.html
max_extrude_cross_section: 1000
max_extrude_only_distance: 500.0

[fan]
pin: PB1   # fan1

[heater_fan toolhead_fan]
pin: PC14 # fan2

[bed_mesh]
speed: 50
horizontal_move_z: 10
mesh_max: 188.125,192.125
mesh_min: 10.0,16.0
fade_start: 0.6
fade_end: 10.0
probe_count: 5, 5

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 100

#TMC UART Config X & Y

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.500
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD7
run_current: 0.600
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PD4
run_current: 0.450
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PD9
run_current: 0.600
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PD8
run_current: 0.600
sense_resistor: 0.110
stealthchop_threshold: 999999

# Case Configuration
#--------------------------------------------------------------------
# SENSORES DE TAPA (Como sensores de filamento/seguridad)
#--------------------------------------------------------------------
[filament_switch_sensor sensor_tapa_1]
pause_on_runout: True
switch_pin: ^!PB12       # Pin Digital 9 (X- Limit)
runout_gcode:
    PAUSE
    M117 ALERTA: Tapa 1 abierta

[filament_switch_sensor sensor_tapa_2]
pause_on_runout: True
switch_pin: ^!PA13       # Pin Analógico A0 (Abort)
runout_gcode:
    PAUSE
    M117 ALERTA: Tapa 2 abierta

#--------------------------------------------------------------------
# SENSOR DE MOVIMIENTO (Motion Sensor)
#--------------------------------------------------------------------
[filament_motion_sensor motion_sensor_z]
switch_pin: ^!PA8      # Pin Digital 10 (Y- Limit)
detection_length: 7.0
extruder: extruder    
pause_on_runout: True

[gcode_macro CALCULATE_BED_MESH]
description: Calculate bed_mesh boundaries automatically based on your bltouch/probe config
gcode:
  {% set BED_MESH_MARGIN = params.BED_MESH_MARGIN|default(10)|float %}
  # Get Printer built volume dimensions
  {% set X_MAX = printer.toolhead.axis_maximum.x|default(230)|float %}
  {% set Y_MAX = printer.toolhead.axis_maximum.y|default(230)|float %}
  # Get Nothing/BLTouch/Probe X and Y offsets
  {% set X_OFFSET = 0.0 |float %}
  {% set Y_OFFSET = 0.0 |float %}
  #Get BLTouch/Probe X and Y offsets
  {% if printer.configfile.config["bltouch"] is defined %}
    {% set X_OFFSET = (printer.configfile.settings.bltouch.x_offset if printer.configfile.settings.bltouch.x_offset is defined else X_OFFSET)|float %}
    {% set Y_OFFSET = (printer.configfile.settings.bltouch.y_offset if printer.configfile.settings.bltouch.y_offset is defined else Y_OFFSET)|float %}
  {% endif %}
  {% if printer.configfile.config["probe"] is defined %}
    {% set X_OFFSET = (printer.configfile.config.probe.x_offset if printer.configfile.config.probe.x_offset is defined else X_OFFSET)|float %}
    {% set Y_OFFSET = (printer.configfile.config.probe.y_offset if printer.configfile.config.probe.y_offset is defined else Y_OFFSET)|float %}
  {% endif %}

  # bed_mesh boundaries calculations
  # bed_mesh_min and bed_mesh_max
  {% set BED_MESH_MIN_X = BED_MESH_MARGIN if X_OFFSET <= 0.0 else X_OFFSET + BED_MESH_MARGIN |float %}
  {% set BED_MESH_MIN_Y = BED_MESH_MARGIN if Y_OFFSET <= 0.0 else Y_OFFSET + BED_MESH_MARGIN |float %}
  {% set BED_MESH_MAX_X = X_MAX - (X_OFFSET)|abs - BED_MESH_MARGIN if X_OFFSET <= 0.0 else X_MAX - BED_MESH_MARGIN |float %}
  {% set BED_MESH_MAX_Y = Y_MAX - (Y_OFFSET)|abs - BED_MESH_MARGIN if Y_OFFSET <= 0.0 else Y_MAX - BED_MESH_MARGIN |float %}

  # Print values
  {action_respond_info("BED_MESH_MARGIN : %f" % (BED_MESH_MARGIN))}
  {action_respond_info("X_MAX           : %f" % (X_MAX))}
  {action_respond_info("Y_MAX           : %f" % (Y_MAX))}
  {action_respond_info("X_OFFSET        : %f" % (X_OFFSET))}
  {action_respond_info("Y_OFFSET        : %f" % (Y_OFFSET))}
  {action_respond_info("BED_MESH_MIN_X  : %f" % (BED_MESH_MIN_X))}
  {action_respond_info("BED_MESH_MIN_Y  : %f" % (BED_MESH_MIN_Y))}
  {action_respond_info("BED_MESH_MAX_X  : %f" % (BED_MESH_MAX_X))}
  {action_respond_info("BED_MESH_MAX_Y  : %f" % (BED_MESH_MAX_Y))}
  {action_respond_info("--- VALUES TO ADD OR UPDATE TO OUR BED_MESH VALUES ---")}
  {action_respond_info("--- VALORES PARA AGREGAR O ACTUALIZAR EN NUESTRA SECCIÓN BED_MESH ---")}
  {action_respond_info("mesh_max: %s,%s" % (BED_MESH_MAX_X,BED_MESH_MAX_Y))}
  {action_respond_info("mesh_min: %s,%s" % (BED_MESH_MIN_X,BED_MESH_MIN_Y))}