#############################################
##      IDEX MACROS - ANET VORONIZED       ##
#############################################

# Activate the primary extruder
[gcode_macro T0]
description: "Selecciona el extrusor T0"
gcode:
    {% if printer.toolhead.extruder == "extruder" %}
        RESPOND MSG="Extrusor 0 ya está activo"
    {% else %}
        G1 X330
        RESPOND MSG="Cambiando al extrusor 0"
        ACTIVATE_EXTRUDER EXTRUDER=extruder
        SET_DUAL_CARRIAGE CARRIAGE=0
        SET_GCODE_OFFSET X=0 Y=0
        G1 X0
        RESPOND MSG="Extrusor 1 activo"
    {% endif %}
    
# Activate the primary extruder
[gcode_macro T1]
description: "Selecciona el extrusor T0"
gcode:
    {% if printer.toolhead.extruder == "extruder1" %}
        RESPOND MSG="Extrusor 1 ya está activo"
    {% else %}
        G1 X-30
        RESPOND MSG="Cambiando al extrusor 1"
        ACTIVATE_EXTRUDER EXTRUDER=extruder1
        SET_DUAL_CARRIAGE CARRIAGE=1
        SET_GCODE_OFFSET X=-1.01 Y=-0.71
        G1 X300
        RESPOND MSG="Extrusor 1 activo"
    {% endif %}

# A helper script to activate copy mode
[gcode_macro ACTIVATE_COPY_MODE]
gcode:
    SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
    G1 X0
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
    G1 X150
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=COPY
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    
# A helper script to activate mirror mode
[gcode_macro ACTIVATE_MIRROR_MODE]
gcode:
    SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
    G1 X75
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
    G1 X225
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=MIRROR
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder

[gcode_macro M605]
description: Configura el modo de operación para sistemas IDEX
gcode:
  {% set S = params.S|default(0)|int %}
  {% if S == 0 %}
    # Activar el modo normal
    G28
    T0
    RESPOND MSG="Extrusor 0 activado, impresion estandar."
  {% elif S == 1 %}
      # Activar el modo normal
    G28
    ACTIVATE_COPY_MODE
    RESPOND MSG="Modo duplicacion activado."
  {% elif S == 2 %}
    G28
    ACTIVATE_MIRROR_MODE
    RESPOND MSG="Modo espejo activado."
  {% else %}
    RESPOND MSG="Modo no soportado."
  {% endif %}